body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    display: flex;
}
.top-banner-div{
    width: 50%;
    padding-left: 7%;
}
.top-banner-div img{
    width: 60%;
}
.color-change{
    color: rgb(248, 97, 97);
}
.top-banner-div h1{
    font-size: 55px;
    border-left: 3px solid rgb(255, 0, 191);
}
.button{
    text-decoration: none;
    background-color: rgb(248, 152, 68);
    padding: 10px 36px;
    color: white;
    border-radius: 5px;

}
.mission{
    
}
.mission-sec{
    display: flex;
}
.mission-sec img{
    width: 50%;
}

.mission-sec-ele-1{
    width: 28%;
    background-color: rgb(243, 213, 157);
    padding-left: 25px;
    margin-left: 5%;
}
.mission-sec-ele-2{
    width: 28%;
    background-color: rgb(240, 196, 232);
}
.mission-sec-ele-3{
    width: 28%;
    background-color: rgb(250, 237, 166);
}
